* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #282c34;
  --header: #fff;
  --link: black;
  --text: hsla(0, 0%, 100%, 0.88);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(92, 92, 92);
  padding: 10px;
}

.logo {
  flex: 1;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.logo-content {
  display: flex;
  align-items: center;
}

.logo-content .logo-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.logo a:hover {
  text-decoration: underline;
  color: whitesmoke;
}

.logo a {
  color: whitesmoke;
  text-decoration: none; 
}

.nav-links {
  display: flex;
  gap: 20px
}

.nav-item {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  text-decoration: underline;
  background-color: transparent;
}

.logout-button {
  background-color: transparent; 
  padding: 5; 
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  background-color: rgb(108, 107, 107);
}

.home-header {
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 2rem; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-content {
  color: whitesmoke;
  font-size: 1rem; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.members-container {
  padding: 20px;
  text-align: center;
  background-color: rgb(108, 107, 107);
}

.members-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  padding: 0;
  list-style: none;
}

.member-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.member-avatar {
  border-radius: 50%;
  object-fit: cover;  
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.member-info {
  text-align: center;
}

.member-name {
  font-weight: bold;
  display: block;
}

.sign-up-link {
  color: var(--link); 
  text-decoration: none;
  cursor: pointer;
}

.sign-up-link:hover {
  text-decoration: underline;
}

.instruments-container {
  padding: 20px;
  text-align: center;
  background-color: rgb(108, 107, 107);
}

.instruments-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  padding: 0;
  list-style: none;
}

.instrument-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.instruments-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;  
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.instrument-info {
  text-align: center;
}

.instruments-name {
  font-weight: bold;
  display: block;
}

.instrument-price {
  font-weight: bold;
  display: block;
}

.account-container {
  display: flex;
  justify-content: center;
  height: 100vh;           
  background-color: rgb(108, 107, 107);
}

.name-container {
  padding: 10px;
}

.age-container {
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(125, 125, 125);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1 rem;
  cursor: pointer;
  background-color: transparent;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.selected-instrument {
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.instrument-name {
  text-align: center;
}

.instrument-image {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.reviews-list {
  list-style-type: none;
  padding: 0;
}

.review-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-details {
  display: flex;
  flex-direction: column;
}

.reviewer-name {
  font-weight: bold;
}

.star-rating {
  color: gold;
}

.review-content {
  margin-top: 5px;
  font-style: italic;
}

.selected-member {
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.member-reviews-button {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.member-reviews-button:hover {
  background-color: transparent;
}

.member-instruments-button {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.member-instruments-button:hover {
  background-color: transparent;
}

.edit-review-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  background-color: #f7f7f7;
}

.edit-button {
  align-self: flex-end; 
  margin-left: auto;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: transparent;
}

.member-name {
  text-align: center;
}

.member-image {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

body {
  margin: 0;
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.signin-container {
  max-width: 400px;
  margin: auto;
  height: 100vh; 
  width: 100%;          
}

.signin-text {
  text-align: center;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.error-text {
  color: black;
  margin-top: 5px; 
  margin-bottom: 0; 
  font-size: 12px; 
}

.form-field label {
  flex: 0 0 80px; 
  font-weight: bold;
}

.form-field input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.add-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  padding: 20px;
}

.add-review-container form input {
  flex: 1;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 10px;
}

.add-review-container button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-review-container button:hover {
  background-color: #0056b3;
}

.add-instrument-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  padding: 20px;
  width: 100%;
}

.add-instrument-container form input {
  flex: 1;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 10px;
}

.add-instrument-container button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-instrument-container button:hover {
  background-color: #0056b3;
}